
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmb.dao.user.USERDao">
	<resultMap type="BaseResultMap" id="com.mmb.model.user.USER">
		<id column="ID" property="ID" />
		<result column="LOGIN_NAME" property="LOGINNAME" />
		<result column="MOBILE_PHONE" property="MOBILEPHONE" />
		<result column="LOGIN_PASSWORD" property="LOGINPASSWORD" />
		<result column="USER_TYPE" property="USERTYPE" />
		<result column="ROLE" property="ROLE" />
		<result column="IS_CREDITOR" property="ISCREDITOR" />
		<result column="IS_DEBTOR" property="ISDEBTOR" />
		<result column="IS_REPURCHASE_PARTY" property="ISREPURCHASEPARTY" />
		<result column="IS_GUARANTOR" property="ISGUARANTOR" />
		<result column="INVESTED" property="INVESTED" />
		<result column="IS_FIRST_LOGIN" property="ISFIRSTLOGIN" />
		<result column="LEVEL" property="LEVEL" />
		<result column="USER_STATUS" property="USERSTATUS" />
		<result column="IS_DELETED" property="ISDELETED" />
		<result column="IS_LOCKED" property="ISLOCKED" />
		<result column="IS_TRADEPWD_LOCKED" property="ISTRADEPWDLOCKED" />
		<result column="CREATE_TIME" property="CREATETIME" />
		<result column="LOCKED_TIME" property="LOCKEDTIME" />
		<result column="UPDATE_TIME" property="UPDATETIME" />
	</resultMap>
</mapper>
