/MyHttpSession/*.classpath
/MyHttpSession/*.gitignore
/MyHttpSession/*.project
/MyHttpSession/.settings/*.prefs
/MyParent/*.project
/MyParent/.settings/*.prefs
/MyRemote/*.classpath
/MyRemote/*.gitignore
/MyRemote/*.project
/MyRemote/.settings/*.prefs
/MyRemote/.settings/*.component
/MyRemote/.settings/*.xml
/MySoa/*.classpath
/MySoa/*.gitignore
/MySoa/*.project
/MySoa/.settings/*.jsdtscope
/MySoa/.settings/*.prefs
/MySoa/.settings/*.component
/MySoa/.settings/*.xml
/MySoa/.settings/*.container
/MySoa/.settings/*.name
/CodeGenerater/.classpath
/CodeGenerater/.gitignore
/CodeGenerater/.project
/CodeGenerater/.settings/org.eclipse.core.resources.prefs
/CodeGenerater/.settings/org.eclipse.jdt.core.prefs
/CodeGenerater/.settings/org.eclipse.m2e.core.prefs
/CodeGenerater/convert.log
/CodeGenerater/src/main/java/my/CodeGenerater/Copy of controller.ftl
/MyAnnotation/.classpath
/MyAnnotation/.gitignore
/MyAnnotation/.project
/MyAnnotation/.settings/org.eclipse.core.resources.prefs
/MyAnnotation/.settings/org.eclipse.jdt.core.prefs
/MyAnnotation/.settings/org.eclipse.m2e.core.prefs
/MyAnnotation/.settings/org.eclipse.wst.common.component
/MyAnnotation/.settings/org.eclipse.wst.common.project.facet.core.xml
/MyBaseDao/.classpath
/MyBaseDao/.gitignore
/MyBaseDao/.project
/MyBaseDao/.settings/org.eclipse.core.resources.prefs
/MyBaseDao/.settings/org.eclipse.jdt.core.prefs
/MyBaseDao/.settings/org.eclipse.m2e.core.prefs
/MyBaseDao/.settings/org.eclipse.wst.common.component
/MyBaseDao/.settings/org.eclipse.wst.common.project.facet.core.xml
/MyCommon/.classpath
/MyCommon/.gitignore
/MyCommon/.project
/MyCommon/.settings/org.eclipse.core.resources.prefs
/MyCommon/.settings/org.eclipse.jdt.core.prefs
/MyCommon/.settings/org.eclipse.m2e.core.prefs
/MyCommon/.settings/org.eclipse.wst.common.component
/MyCommon/.settings/org.eclipse.wst.common.project.facet.core.xml
/MyFileServer/.classpath
/MyFileServer/.gitignore
/MyFileServer/.project
/MyFileServer/.settings/.jsdtscope
/MyFileServer/.settings/org.eclipse.core.resources.prefs
/MyFileServer/.settings/org.eclipse.jdt.core.prefs
/MyFileServer/.settings/org.eclipse.m2e.core.prefs
/MyFileServer/.settings/org.eclipse.wst.common.component
/MyFileServer/.settings/org.eclipse.wst.common.project.facet.core.xml
/MyFileServer/.settings/org.eclipse.wst.jsdt.ui.superType.container
/MyFileServer/.settings/org.eclipse.wst.jsdt.ui.superType.name
/MyFileServer/.settings/org.eclipse.wst.validation.prefs
/MyHessian/.classpath
/MyHessian/.gitignore
/MyHessian/.project
/MyHessian/.settings/org.eclipse.core.resources.prefs
/MyHessian/.settings/org.eclipse.jdt.core.prefs
/MyHessian/.settings/org.eclipse.m2e.core.prefs
/MyHessian/.settings/org.eclipse.wst.common.component
/MyHessian/.settings/org.eclipse.wst.common.project.facet.core.xml
/MyWeb/.classpath
/MyWeb/.gitignore
/MyWeb/.project
/MyWeb/.settings/.jsdtscope
/MyWeb/.settings/org.eclipse.core.resources.prefs
/MyWeb/.settings/org.eclipse.jdt.core.prefs
/MyWeb/.settings/org.eclipse.m2e.core.prefs
/MyWeb/.settings/org.eclipse.wst.common.component
/MyWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
/MyWeb/.settings/org.eclipse.wst.jsdt.ui.superType.container
/MyWeb/.settings/org.eclipse.wst.jsdt.ui.superType.name
/MyWeb/.settings/org.eclipse.wst.validation.prefs
/annotation/.classpath
/annotation/.project
/annotation/.settings/org.eclipse.core.resources.prefs
/annotation/.settings/org.eclipse.jdt.core.prefs
/annotation/.settings/org.eclipse.m2e.core.prefs
/annotation/.settings/org.eclipse.wst.common.component
/annotation/.settings/org.eclipse.wst.common.project.facet.core.xml
/annotation/.settings/org.eclipse.wst.validation.prefs
/annotation/target/.gitignore
/base_dao/.classpath
/base_dao/.project
/base_dao/.settings/org.eclipse.core.resources.prefs
/base_dao/.settings/org.eclipse.jdt.core.prefs
/base_dao/.settings/org.eclipse.m2e.core.prefs
/base_dao/.settings/org.eclipse.wst.common.component
/base_dao/.settings/org.eclipse.wst.common.project.facet.core.xml
/base_dao/.settings/org.eclipse.wst.validation.prefs
/base_dao/target/.gitignore
/common/.classpath
/common/.project
/common/.settings/org.eclipse.core.resources.prefs
/common/.settings/org.eclipse.jdt.core.prefs
/common/.settings/org.eclipse.m2e.core.prefs
/common/.settings/org.eclipse.wst.common.component
/common/.settings/org.eclipse.wst.common.project.facet.core.xml
/common/.settings/org.eclipse.wst.validation.prefs
/common/target/.gitignore
/hessian_support/.classpath
/hessian_support/.project
/hessian_support/.settings/org.eclipse.core.resources.prefs
/hessian_support/.settings/org.eclipse.jdt.core.prefs
/hessian_support/.settings/org.eclipse.m2e.core.prefs
/hessian_support/.settings/org.eclipse.wst.common.component
/hessian_support/.settings/org.eclipse.wst.common.project.facet.core.xml
/hessian_support/.settings/org.eclipse.wst.validation.prefs
/hessian_support/target/.gitignore
/http_session/.classpath
/http_session/.gitignore
/http_session/.project
/http_session/.settings/org.eclipse.core.resources.prefs
/http_session/.settings/org.eclipse.jdt.core.prefs
/http_session/.settings/org.eclipse.m2e.core.prefs
/http_session/.settings/org.eclipse.wst.common.component
/http_session/.settings/org.eclipse.wst.common.project.facet.core.xml
/http_session/.settings/org.eclipse.wst.validation.prefs
